REACT_APP_PORT=YOUT PORT
REACT_APP_FIREBASE_API_KEY=YOUR API KEY
REACT_APP_FIREBASE_AUTH_DOMAIN=YOUR AUTH DOMAIN
REACT_APP_FIREBASE_PROJECT_ID=YOUR PROJECT ID
REACT_APP_FIREBASE_STORAGE_BUCKET=YOUR STORAGE BUCKET
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=YOUR MESSAGING SENDER ID
REACT_APP_FIREBASE_APP_ID=YOUR APP ID
REACT_APP_SERVICE_ID=YOUR SERVICE KEY
REACT_APP_EMAIL_TEMPLATE=YOUR EMAIL TEMPLATE
REACT_APP_PUBLIC_KEY=YOUR PUBLIC KEY